   /*charset*/
   @charset "UTF-8";

   /*selectore universal*/
    * {
        color: black;
    }

    /*crear variables*/
    :root{
        --color-background: white;
        --color-letras: black;
    }
    
    /*selectores de elementos*/
    html {
        background-color: var(--color-background);
        padding-left: 3cm;
        padding-right: 3cm;
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        border: solid black 4px;
        padding: 0.5cm;
        background-color: rgba(241, 239, 239, 0.489);
    }
    main{
        padding-left: 1cm;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        background-color: black;
        padding: 1cm;
    }
    footer{
        background-color: gray;
        padding-left: 1cm;
        padding-top: 0.5cm;
        padding-bottom: 1cm;
    }

    /*fuente de dafont.com*/
    @font-face {
        font-family: 'plastic';
        src: url('./fonts/iconoplastic.ttf') format('truetype');
    }

    /*selectore de clase*/
    .estilo{
        display: flex;
        justify-content: end;
        padding-bottom: 0.5cm;
    }
    .FooterTitulo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .enlaces{
        display: flex;
        height: 1.5cm;
    }
    .nombre{
        background-color: var(--color-background);
        padding: 0.5cm 2cm 0.5cm;
        font-family: "plastic";
        font-size: larger;
    }
    .perfil{
        display: flex;
    }

    /*selectore de id*/
    #Arriba{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5cm;
        height: 1cm;
        width: 2cm;
        background-color: black;
        color: white;
        text-decoration: none;
        border-radius: 10px;
    }
    #estilos{
        background-color: var(--color-background);
        color: var(--color-letras);
        font-size: larger;
        box-shadow: black 5px 5px 5px;
    }
    

    /*elementos de hijos*/
    .perfil > aside{
        margin-left: 5cm;
        border: solid black 2px;
        height: auto;
        width: auto;
        padding: 1cm;
    }
    .perfil > img{
        border-radius: 50%;
    }
    .estilo input{
        height: 1cm;
        width: 2cm;
        background-color: gray;
        color: white;
        border-radius: 2px;
    }
    .FooterTitulo h1{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-background);
        color: var(--color-letra);
        height: 2cm;
        width: 9cm;
        border-radius: 10px;
    }
    .enlaces strong{
        background-color: var(--color-background);
        color: var(--color-letra);
        margin: 0.2cm;
        padding: 0.2cm;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        box-shadow: gray 5px 5px 5px;
    }
    .enlaces a{
        text-decoration: none;
    }
    main h1{
        background-color: var( --color-backrgound);
        color: var( --color-letras);
        display: flex;
        border: solid;
        justify-content: center;
        padding: 0.2cm;
    }

    /*::before*/
    main h2::before{
        content: "🠮";
    }

    /*::hover*/
    .enlaces strong:hover{
        transform: scale(1.3);
        background-color: var(--color-letra);
        color: var(--color-background);
        border: solid white;
        margin:  0cm 0.5cm;
        box-shadow: white 3px 3px 3px;
    }